/*****************************
*************LOOPS************
*****************************/

#filters {
	width: 100%;
	overflow-y: hidden;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 3rem;
	fieldset {
		width: 33.33%;
		padding: 1rem;
	}
	.options {
		width: 100%;
		max-height: 9.125rem;
		padding: .7rem 1rem;
		overflow-y: scroll;
		border: 1px solid $black;
		background: $timberwolf;
	}
	label {
		cursor: pointer;
	}
	input[type="checkbox"] {
		width: .7em;
		height: .7em;
		display: inline-block;
		background: $alabaster;
		border: 1px solid $black;
		border-radius: .25em;
		appearance: none;
		cursor: pointer;
		&:checked {
			background: $maize;
		}
	}
}

.posts {
	align-items: stretch;
	a {
		width: 100%;
		height: 100%;
	}
}
article.post {
	height: 100%;
	.col:last-child & {
		border-right-width: 0;
	}
	a {
		text-decoration: none;
		&:hover {
			background: $maize;
		}
	}
}
.article-inner {
	height: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}
header.post-header {
	margin: auto;
}
.post-title {
	padding: .5rem 0;
	font-weight: bold;
	@include text-md;
}
.post-thumbnail {
	img {
		width: 100%;
		height: auto;
	}
}
// .post-excerpt {
// 	@include text-md;
// }
.post-meta {
	@include text-xs;
	&:first-child {
		padding-bottom: 1rem;
	}
	&:last-child {
		padding-top: 1rem;
	}
	.row {
		justify-content: space-between;
	}
	.col:last-child {
		text-align: right;
	}
}
.post-author {
	
}